[submodule "lib/rubbish_thor_clone"]
	path = lib/rubbish_thor_clone
	url = https://github.com/dxw/RubbishThorClone.git
[submodule "generators/theme/template"]
	path = generators/theme/template
	url = https://github.com/dxw/whippet-theme-template.git
