<phpunit bootstrap="tests/Helpers.php" backupGlobals="false" colors="true">
  <testsuites>
    <testsuite name="unit_and_integration">
      <directory suffix="_test.php">tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
</phpunit>
